/* リンクのスタイルを変更して無効化されていることを示す */

a[data-original-href] {
  cursor: default;
  pointer-events: none;
  opacity: 0.6;
  position: relative;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #999999;
}